.root {
  text-transform: lowercase;
}

.calendarView {
  background-color: transparent;
  border: none;
  color: var(--whiteColor);
}

.calendarView:focus {
  outline-offset: 0;
}

.month {
  text-transform: lowercase;
  padding-right: var(--spacing5);
}
