.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  height: 50px;
  border: none;
  background-color: var(--transparent);
  color: var(--whiteColor);
  cursor: pointer;
}

.root:hover {
  border: 1px solid var(--secondaryDarkColor);
}

.currentMonth {
  background-color: var(--primaryColor);
}
