.root {
  --arrowEjectionTopBarIconSize: 10px;

  display: flex;
  align-items: flex-end;
  gap: var(--spacing5);
  padding: var(--spacing5) var(--spacing10);
  height: var(--explorerTopBarHeight);
}

.explorerName {
  font-size: 1.3rem;
  font-weight: normal;
}

.folderIconButton,
.quickAccessContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.folderIcon {
  height: 100%;
  width: var(--iconSizeDefault);
}

.folderIconButton::after,
.quickAccessContainer::after {
  content: '';
  display: block;
  height: 10px;
  width: 1px;
  margin-left: var(--spacing5);
  background-color: var(--secondaryLightColor200);
  box-sizing: border-box;
}

.arrowEjectButton {
  width: var(--arrowEjectionTopBarIconSize);
  height: 100%;
  transform: rotate(180deg);
}

.arrowEjectIcon {
  height: 100%;
  width: var(--arrowEjectionTopBarIconSize);
}
