.weekDays {
  display: flex;
  padding-bottom: var(--spacing10);
  text-transform: lowercase;
  text-align: center;
}

.weekDay {
  flex-basis: calc(100% / 7);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--spacing2);
}
