.root {
  /* * adjacentBackground is using in Calendar's childs */
  --adjacentBackground: rgba(255, 255, 255, 0.5);

  padding: var(--spacing10) var(--spacing20);
  border-bottom: 1px solid var(--plansBorderColor);
  font-size: 1.4rem;
  user-select: none;
}
