{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    },
    "jsx-a11y": {
      "components": {
        "Button": "button"
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "react",
    "prettier",
    "import",
    "jsx-a11y"
  ],
  "rules": {
    "semi": 0,
    "react/jsx-indent": [
      "error",
      2
    ],
    "max-len": [
      2,
      120,
      2
    ],
    "no-console": "off",
    "no-debugger": "off",
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "react/prop-types": [
      2,
      {
        "ignore": [
          "history"
        ]
      }
    ],
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "react/no-unescaped-entities": 0,
    "react/no-set-state": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "prefer-promise-reject-errors": "off",
    "camelcase": "off",
    "import/no-unresolved": "error",
    "import/named": "warn",
    "import/namespace": "warn",
    "import/no-named-as-default": "off",
    "import/export": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "type"],
          "index",
          "external",
          "object",
          "internal",
          "parent",
          "sibling"
        ],
        "pathGroups": [
          {
            "pattern": "./components/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "./*.module.css",
            "group": "sibling",
            "position": "after"
          },
          {
            "pattern": "hooks/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "store/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "types/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "utils/**",
            "group": "internal", 
            "position": "after"
          },
          {
            "pattern": "assets/**", 
            "group": "sibling",
            "position": "before"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}