node_modules
.vscode
.idea
/dist

src/assets/fonts
src/assets/icons
src/assets/wallpapers
.gitignore
.babelrc
.eslintrc
.prettierrc
.prettierignore
package.json
package-lock.json

tsconfig.json
webpack.config.js
