.root {
  --fileOptionWidth: 45px;

  background-color: var(--whiteColor);
}

.optionsList {
  display: flex;
  list-style-type: none;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing2) var(--spacing10);
  margin-right: var(--spacing2);
  font-size: 1.3rem;
  cursor: pointer;
}

.fileOption {
  width: var(--fileOptionWidth);
  margin-right: 0;
  background-color: var(--primaryColor);
}

.fileOption:hover {
  background-color: var(--primaryHoverColor);
}

.ribbonOption {
  border: 1px solid transparent;
  border-bottom: none;
}

.selectedOption,
.ribbonOption:hover {
  border: 1px solid var(--secondaryLightColor);
  border-bottom: none;
  background-color: var(--secondaryLightColor300);
}
