.root {
  --fileOptionWidth: 45px;
  --fileOptionBackground: var(--primaryHoverColor);

  background-color: var(--whiteColor);
}

.optionsList {
  display: flex;
  list-style-type: none;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.option button {
  padding: var(--spacing2) var(--spacing10);
  margin-right: var(--spacing2);
  color: var(--blackColor);
}

.option button:disabled {
  cursor: default;
}

.fileOption {
  width: var(--fileOptionWidth);
  margin-right: 0;
  background-color: var(--fileOptionBackground);
}

.fileOption:hover {
  background-color: var(--primaryLightColor);
}

.ribbonOption button {
  border: 1px solid transparent;
  border-bottom: none;
}

.selectedOption button,
.ribbonOption button:hover {
  border: 1px solid var(--secondaryLightColor);
  border-bottom: none;
  background-color: var(--secondaryLightColor300);
}

.ribbonOption:nth-of-type(2).selectedOption,
.ribbonOption:nth-of-type(2):hover {
  border-left: none;
}
