.root {
  padding: var(--spacing2);
  line-height: 35px;
  border: 2px solid transparent;
  text-align: center;
}

.root:hover {
  border-color: var(--secondaryColor);
}

.PREVIOUS_MONTH_DAY,
.NEXT_MONTH_DAY {
  color: var(--secondaryHoverLightColor);
}

.TODAY {
  background-image: linear-gradient(var(--primaryColor), var(--primaryColor));
}

.TODAY.selected {
  background-image: linear-gradient(transparent, transparent);
}

.TODAY,
.TODAY.selected {
  background-clip: padding-box;
}

.TODAY:hover {
  border-color: var(--primaryHoverColor);
}

.TODAY .dayNumber {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  font-weight: bold;
}

.selected {
  border: 2px solid var(--primaryColor);
}
