.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing10);
  cursor: pointer;
}

.loading {
  /* width: 100px; */
  min-width: 100px;
  cursor: default;
}

/* -- BUTTONS COMMON PROPERTIES -- */

.primary.normal,
.primary.loading,
.secondary.normal,
.secondary.loading,
.error.normal,
.error.loading,
.success.normal,
.success.loading {
  color: var(--whiteColor);
  transition: transform 0.1s linear;
}

.primary.outline:active:hover,
.secondary.outline:active:hover,
.error.outline:active:hover,
.success.outline:active:hover {
  color: var(--whiteColor);
  transform: scale(0.98);
}

.primary.outline:hover,
.secondary.outline:hover,
.error.outline:hover,
.success.outline:hover {
  filter: brightness(1.05);
}

.primary.normal .icon svg path,
.secondary.normal .icon svg path,
.error.normal .icon svg path,
.success.normal .icon svg path,
.primary.outline:active:hover svg path,
.secondary.outline:active:hover svg path,
.error.outline:active:hover svg path,
.success.outline:active:hover svg path {
  fill: var(--whiteColor);
}

/* -- PRIMARY BUTTON -- */

.primary.normal,
.primary.loading {
  border: 2px solid var(--primaryColor);
  background-color: var(--primaryColor);
}

.primary.outline {
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
  transition: filter 0.2s linear, transform 0.1s linear;
}

.primary.outline .icon svg path {
  fill: var(--primaryColor);
}

.primary.outline:active:hover {
  background-color: var(--primaryColor);
}

/* -- SECONDARY BUTTON -- */

.secondary.normal,
.secondary.loading {
  border: 2px solid var(--secondaryColor);
  background-color: var(--secondaryColor);
}

.secondary.outline {
  border: 2px solid var(--secondaryColor);
  color: var(--blackColor);
  transition: filter 0.2s linear, transform 0.1s linear;
}

.secondary.outline:active:hover {
  background-color: var(--secondaryColor);
}

/* -- ERROR BUTTON -- */

.error.normal,
.error.loading {
  border: 2px solid var(--errorColor);
  background-color: var(--errorColor);
}

.error.outline .icon svg path {
  fill: var(--errorColor);
}

.error.outline {
  border: 2px solid var(--errorColor);
  color: var(--errorColor);
  transition: filter 0.2s linear, transform 0.1s linear;
}

.error.outline:active:hover {
  background-color: var(--errorColor);
}

/* -- SUCCESS BUTTON -- */

.success.normal,
.success.loading {
  border: 2px solid var(--successColor);
  background-color: var(--successColor);
}

.success.outline .icon svg path {
  fill: var(--successColor);
}

.success.outline {
  border: 2px solid var(--successColor);
  color: var(--successColor);
  transition: filter 0.2s linear, transform 0.1s linear;
}

.success.outline:active:hover {
  background-color: var(--successColor);
}

/* -- MODES -- */

.primary.normal.lightMode:hover,
.secondary.normal.lightMode:hover,
.error.normal.lightMode:hover,
.success.normal.lightMode:hover {
  border-color: var(--secondaryLightColor100);
}

.primary.normal.darkMode:hover,
.secondary.normal.darkMode:hover,
.error.normal.darkMode:hover,
.success.normal.darkMode:hover {
  border-color: var(--secondaryMiddleColor);
}

.primary.normal.lightMode:active:hover,
.secondary.normal.lightMode:active:hover,
.error.normal.lightMode:active:hover,
.success.normal.lightMode:active:hover {
  background-color: var(--secondaryLightColor100);
  transform: scale(0.98);
}

.primary.normal.darkMode:active:hover,
.secondary.normal.darkMode:active:hover,
.error.normal.darkMode:active:hover,
.success.normal.darkMode:active:hover {
  background-color: var(--secondaryMiddleColorAlpha0_9);
  transform: scale(0.98);
}

/* -- BUTTON CHILDREN -- */

.icon {
  display: flex;
  margin-right: var(--spacing5);
  width: var(--iconSizeButton);
  height: var(--iconSizeButton);
}

.value {
  text-transform: capitalize;
}
