.root {
  display: flex;
  justify-content: space-between;
  padding-bottom: calc(var(--spacing) * 1.5);
}

.headerElement {
  flex-basis: 40%;
}

.dateInformation {
  display: flex;
  cursor: pointer;
}

.dateInformation:hover {
  filter: brightness(130%);
}
