.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 var(--spacing10) 0 auto;
  padding: 0 var(--spacing10);
  width: 90px;
  font-size: 1.6rem;
  border: none;
  text-align: center;
  background-color: transparent;
  color: var(--white);
}

.root:hover {
  background-color: var(--hoverBackground);
  cursor: pointer;
}

[data-title] {
  position: relative;
}

[data-title]:after {
  content: attr(data-title);
  padding: var(--spacing2) var(--spacing5);
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid var(--grey);
  font-size: 1.3rem;
  white-space: nowrap;
  background-color: var(--white);
  color: var(--black);
  opacity: 0;
  visibility: hidden;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.2s linear 0.5s;
  visibility: visible;
}
