.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeCreateEventForm {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.closeIcon {
  width: var(--iconSize10);
  height: var(--iconSize10);
  fill: var(--whiteColor);
}
