.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('assets/wallpapers/w10_default.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: var(--desktopIndex);
}
