.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  height: 50px;
  cursor: pointer;
}

.month:hover {
  border: 1px solid var(--plansBorderColor);
}

.currentMonth {
  background-color: var(--windowsGreen);
}
