.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  position: relative;
}

.dot {
  position: absolute;
  height: 100%;
  width: 28px;
  height: 58px;
  max-height: 100%;
  opacity: 0;
}

.dot:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
}
