.root {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.saveButton,
.moreDetailsButton:disabled {
  padding-top: calc(var(--spacing) / 3);
  padding-bottom: calc(var(--spacing) / 3);
  color: var(--white);
  filter: brightness(110%);
  border-width: 1px;
  border-style: solid;
}

.saveButton {
  padding-left: calc(var(--spacing) * 1.5);
  padding-right: calc(var(--spacing) * 1.5);
  border-color: var(--windowsGreen);
  background-color: var(--windowsGreen);
  cursor: pointer;
}

.moreDetailsButton:disabled {
  padding-left: calc(var(--spacing) * 2);
  padding-right: calc(var(--spacing) * 2);
  border-color: var(--plansBorderColor);
  background-color: var(--eventElementsBackground);
  cursor: not-allowed;
}
