.root {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.saveButton,
.moreDetailsButton:disabled {
  padding-top: var(--specialSpacing1);
  padding-bottom: var(--specialSpacing1);
  color: var(--white);
  filter: brightness(110%);
  border-width: 1px;
  border-style: solid;
}

.saveButton {
  padding-left: var(--spacing15);
  padding-right: var(--spacing15);
  border-color: var(--windowsGreen);
  background-color: var(--windowsGreen);
  cursor: pointer;
}

.moreDetailsButton:disabled {
  padding-left: var(--spacing20);
  padding-right: var(--spacing20);
  border-color: var(--plansBorderColor);
  background-color: var(--eventElementsBackground);
  cursor: not-allowed;
}
