@font-face {
  font-family: 'Calibri';
  src: url('../fonts/segoeui.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

/* For some reason, there's no way to refer to the root div by id or class  */
body > div:first-child {
  height: 100%;
}

button {
  border: none;
  background-color: var(--transparent);
  color: var(--whiteColor);
  cursor: pointer;
}

button:focus-visible {
  outline-width: 2px;
  outline-color: var(--whiteColor);
  outline-style: solid;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--transparent);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondaryLightColor200);
  border-radius: 10px;
}
