:root {
  /* Spacings */
  /* TODO: Change this, this is wrong */
  --spacing: 10px;

  /* Colors */
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --grey: rgb(118, 118, 118);

  --windowsGreen: rgb(16, 124, 16);
  --windowsGreenOnHover: rgb(112, 176, 112);
  --windowsInnerGreen: rgb(144, 214, 144);
  --windowsGrey: rgb(223, 223, 223);

  --hoverBackground: rgba(255, 255, 255, 0.2);

  /* This two variables could be change to one */
  --plansBorderColor: rgb(76, 76, 76);
  --eventElementsBackground: rgb(76, 76, 76);

  --windowsLogoColor: rgb(61, 156, 61);

  /* Sizes */
  --taskbarHeight: 40px;
  --defaultIconSize: 20px;

  /* z-indexes */
  --desktopIndex: 100;
  --plansIndex: -1;
}
