.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  cursor: pointer;

  background-color: transparent;
  color: white;
  border: none;
}

.root:hover {
  border: 1px solid var(--secondaryDarkColor);
}

.current {
  background-color: var(--primaryColor);
}

.previous,
.next {
  color: var(--secondaryHoverLightColor);
}
