.root {
  padding: var(--spacing10) var(--spacing20);
  border-bottom: 1px solid var(--secondaryDarkColor);
}

.plansDate {
  border: none;
  font-size: 1.3rem;
  background-color: var(--transparent);
  color: var(--primaryLightColor);
  cursor: pointer;
}

.plansDate:hover {
  color: var(--secondarySelectedColor);
}

.plansDate:focus {
  outline-offset: 1px;
}
